.formulario {
    display: flex;
    margin: 80px auto;
    flex-direction: column;
    justify-content: center;
   
}

.formulario{
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 1px 1px 16px rgb(0,0,0.06);
}

.formulario input{

    border: 1px solid grey
}