* {
    padding: 0;
    margin: 0;
}

#container__cabecalho {
    width: 1440px;
    height: 96px;
    background: #5300C8;
    box-shadow: 0px 7px 0.9px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: auto;
}

#container__corpoPrincipal {
    width: 1380px;
    height: 1235px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 60px 40px;
    gap: 70px;
    border-radius: 10px;
    border: 1px solid;
    margin: auto;
}

.container__corpoPrincipal--produtos {
    width: 758px;
    height: 1115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
    border: 1px solid;
}

.container__grupo--cards {
    display: flex;
    gap: 20px;
}

.container__corpoPrincipal--formulario {
    width: 472px;
    height: 517px;

    border: 1px solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;   

    background: #FFFFFF;
}