* {
    padding: 0;
    margin: 0;
}

/* inicio css cabeçalho */
#container__cabecalho {
    width: 1440px;
    height: 96px;
    background: #5300C8;
    box-shadow: 0px 7px 0.9px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: auto;
    margin-top: 4px;
}

/* Fim css cabeçalho*/

/* inicio css main */
#container__corpoPrincipal {
    width: 1380px;
    height: 1100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 60px 40px;
    gap: 70px;
    border-radius: 10px;
    margin: auto;
}

.container__corpoPrincipal--produtos {
    width: 758px;
    height: 1115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.container__grupo--cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border-radius: 5px;
    padding: 22px;
    background-color: #5300C8;
    border: 1px solid;
    border-color: coral;
}

.card-container--info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    text-align: center;
    gap: 15px;
}

.imagem__produto {
    width: 160px;
    height: 180px;
    border: 2px solid;
    border-radius: 5px;
    border-color: burlywood;
    margin-bottom: 10px;
}

.card-container--value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-weight: bold;
}

/* Fim css main */

/* Inicio css formulario*/
.container__corpoPrincipal--formulario {
    width: 472px;
    height: 517px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;

    background: #FFFFFF;
}

.alinhamento__botoes {
    width: 395px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputsDeentrada {
    width: 392px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    border-color: #5300C8;
    padding: 15px;
    color: #5300C8;
}

.inputsBotoes {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: large;
    background-color: #5300C8;
    color: white;
}

.container__corpoPrincipal--design {
    color: #5300C8;
}
/* Fim css Formulario */

/* Inicio css footer*/
#container__rodape{
    width: 1440px;
    height: 200px;
    
    text-align: center;
    font-size: 20px;
    background-color: #5300C8;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 1px solid;
    margin: auto;
    margin-bottom: 5px;
}