.cabecalho__container {
    display: flex;
    width: 1920px;
    height: 138px;
    padding: 37px 0px;
    align-items: center;
    gap: 579px;
    align-self: stretch;
    background-color: var(--preto);
    margin: auto;
}

.cabecalho {
    width: 1200px;
    height: 64px;
    display: flex;
    padding: 0px 360px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    color: #fff;
}

.cabecalho__logo--icone {
    max-width: 260px;
}

.cabecalho__navegacao {
    display: flex;
    gap: 40px;
}

.cabecalho__navegacao--lista {
    display: flex;
    gap: 40px;
    list-style: none;
}

.cabecalho__navegacao--item a {
    list-style: none;
    color: var(--branco);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.banner {
    width: 1920px;
    height: 620px;
    flex-shrink: 0;
    background-image: url("../img/maldivas@2x.png");
    margin: auto;
    margin-top: 0px;

}

.banner__wrapper {
    margin: 0;
}

.banner__img {
    max-width: 100%;
}

.banner__descricao {
    width: 1200px;
    height: 144px;
    margin: auto;
    color: var(--Grafite, #222);
    text-align: center;
    align-self: stretch;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 112px;
    margin-bottom: 112px;
}

.ofertas {
    width: 1200px;
    height: 763px;
    display: flex;
    padding: 0px 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
    margin: auto;
}

.ofertas-titulo--container,
.busca-titulo--container {
    display: flex;
    min-width: 312px;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.ofertas-titulo,
.busca-titulo {
    color: var(--Grafite, #222);
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ofertas-sublinhado,
.busca-sublinhado {
    width: 180px;
    height: 4px;
    background: var(--Vermelho, #B81515);
    align-items: center;
    margin-top: -15px;
}

.ofertas__cards {
    margin-top: 12px;
    width: 1200px;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.ofertas__cards--grupo1,
.ofertas__cards--grupo2 {
    display: flex;
    width: 1200px;
    height: 308px;
    width: 1200px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.ofertas__cards--tokyo {
    width: 588px;
    height: 308px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../img/tokyo.png") lightgray 50% / cover no-repeat;
}

.ofertas__cards--sanAndreas {
    width: 588px;
    height: 308px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../img/san-andreas.png") lightgray 50% / cover no-repeat;
}

.ofertas__cards--paraiba {
    width: 588px;
    height: 308px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../img/paraiba.png") lightgray 50% / cover no-repeat;
}

.ofertas__cards--manaus {
    width: 588px;
    height: 308px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../img/manaus.png") lightgray 50% / cover no-repeat;
}

.ofertas__cards--conteudo {
    width: 524px;
    height: 260px;
    display: flex;
    width: 588px;
    padding: 0px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.ofertas__cards--textos {
    width: 524px;
    height: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--branco);
    margin-top: 55px;
}

.ofertas__cards--pais {
    color: var(--Branco, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
    margin-top: 18px;
}

.ofertas__cards--preco {
    color: var(--Branco, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
    color: --branco;
    margin-top: -40px;

}

.ofertas__cards--botao {
    display: flex;
    width: 280px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 8px;
    background: var(--Vermelho, #B81515);
    color: var(--branco);
    margin-top: -25px;

}

.busca {
    width: 1200px;
    height: 410px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    padding: 0px 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.busca-sublinhado{
    margin-top: 0;
    margin-bottom: 70px;
}
.busca__categoria--pacotesNacionais {
    width: 249px;
    height: 172px;
    display: flex;
    height: 220px;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
}

.busca__categoria--grupo {
    display: flex;
    width: 1197px;
    align-items: center;
    gap: 24px;
   
}

.busca__img--nacionais {
    color: var(--Cinza-escuro, #8C8C8C);
    text-align: center;
    font-family: "Material Icons";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.busca__titulo-pcNacionais {
    color: var(--Grafite, #222);
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}